* {
    padding: 0;
    margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formas {
    border-radius: 70px;
    margin: auto;
    width: 30%;
    min-width: 300px;
    height: 120px;
    font-family: sans-serif;
    font-size: 12px;
    padding-top: 10px;
    position: absolute;
    box-shadow: 10px 0px 50px rgba(0, 0, 0, 0.3), -10px 0px 50px rgba(0, 0, 0, 0.3);
}

#pri {
    top: 15lvh;
}

#seg {
    top: 25lvh;
}

#ter {
    top: 35lvh;
}

#qua {
    top: 45lvh;
}

#qui {
    top: 55lvh;
}

#sex {
    top: 65lvh;
}

b {
    margin: 60px;
}