* {
    padding: 0;
    margin: 0;
}

/*FORMA DAS CORES*/

#container-cima {
    display: flex;
    justify-content: center;
    align-items: stretch;

    padding: 5% 5%;
    margin: 0 auto;
    height: 300px;
}

.formas {
    border-radius: 100px;
    font-family: sans-serif;
    font-size: 12px;
    padding: 50px 20px;
}

#pri {
    position: relative;
    left: 30px;
}

#seg {
    position: relative;
    left: 20px;
}

#ter {
    position: relative;
    left: 5px;
}

#qua {
    position: relative;
    right: 5px;
}

#qui {
    position: relative;
    right: 20px;
}

#sex {
    position: relative;
    right: 30px;
}

/*CÓDIGO DAS CORES*/

#container-baixo {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px;
    margin: auto 25%;
}

#container {
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
    column-gap: 30px;
}

.cores {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}