/*GERAL*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
}

/*SEPARADORES*/

h1 {
    color:#444;
    text-align: center;
    margin-top: 20px;
}

h2 {
    color:#444;
    margin: 0 100px 0;
    background-color: white;
    display: inline-block;
    padding: 20px;
    border-radius: 20px 20px 0 0;
}

.container {
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    gap: 10lvh 10lvw;
    justify-content: space-around;

    background-color: white;
    padding: 50px;
    margin: 0 100px 100px;
    border-radius: 0 20px 20px;
}

/*CORES*/
.link {
    display: flex;

    flex-direction: column;
    align-items: center;

    color: black;
    border-radius: 10px 10px 10px 10px ;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cor {
    height: 15lvw;
    width: 15lvw;
    border-radius: 10px 10px 0 0;
    background-color: #000;
}

h3 {
    padding: 10px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}