* {
    padding: 0;
    margin: 0;
}

/*FORMA DAS CORES*/

#container-cima {
    display: flex;
    justify-content: center;
    align-items: stretch;

    padding: 5% 5%;
    margin: 0 auto;
    height: 55lvh;
}

.formas {
    border-radius: 70px;
    font-family: sans-serif;
    font-size: 17px;
    padding: 70px 20px;
    width: 6lvw;
}

#pri {
    position: relative;
    left: 82px;
}

#seg {
    position: relative;
    left: 50px;
}

#ter {
    position: relative;
    left: 18px;
}

#qua {
    position: relative;
    right: 18px;
}

#qui {
    position: relative;
    right: 50px;
}

#sex {
    position: relative;
    right: 82px;
}

/*CÓDIGO DAS CORES*/

#container-baixo {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px;
    margin: auto 25%;
}

.container {
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
    column-gap: 30px;
    padding: 5px;
    font-size: 20px;
}

.cores {
    height: 6lvw;
    width: 6lvw;
    border-radius: 100%;
}